* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.row {
  background: white;
  border-radius: 30px;
  box-shadow: 12px 12px 22px;
}
.login img {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.login h1 {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Pacifico", cursive;
}
.inp {
  height: 50px;
  width: 70%;
  border: none;
  outline: none;
  border-radius: 60px;
  box-shadow: -1px 1px 30px -11px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 30px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 30px -11px rgba(0, 0, 0, 0.75);
}
.btn1 {
  height: 50px;
  width: 50%;
  border: none;
  outline: none;
  border-radius: 60px;
  font-weight: 600;
  background-color: rgb(190, 47, 47);
  color: white;
}
.btn1:hover {
  background-color: brown;
  transition: 0.5s;
}
.fa-facebook {
  color: rgb(39, 39, 182);
  font-size: 2.5rem;
  cursor: pointer;
}

.fa-google-plus {
  color: rgb(209, 7, 24);
  font-size: 2.5rem;
  cursor: pointer;
}
.underline-cls {
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-family: "Pacifico";
}
.underline-cls:hover {
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-family: "Pacifico";
}
